a{
    text-decoration: none;
    color: black;
}
h1{
    text-align: center;
    border-bottom: 1px solid;
    margin: 0px;
}

ol{
    border-right: 1px solid;
    width: 70px;
    margin: 0px;
    padding:20px;
}

#grid{
    display: grid;
    grid-template-columns: 150px 1fr;
}

#article{
    padding: 0px;
}
@media(max-width:540px) {
    #grid{
    display: block;
    }
    ol{
        border-right: none;
    }
    h1{
    border-bottom: none;
    }
}
a:hover{
    text-decoration: underline;
}
.html{
    color: blueviolet;
}